.bttn-request a{
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius:10px;
    margin-top: 15px;
    padding: 10px;
    text-decoration: none;
    width: 210px;
    background-color: #4169E1;
    opacity: 0.95;
    color: white;
    font-weight: bold;
    transition: all ease 0.7s;
}

.bttn-request a:hover {
    scale: 1.01;
    opacity: 1;
    background-color: blue;
}