@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap');
* {
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}